@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&family=Poppins&display=swap');
body {
    padding: 0;
    background: #e8e9ed;
}
h1 {
    font-size: 3rem;
    font-family: 'Playfair Display', sans-serif;
    color:  #122042;
}
p, label, button, input, .swal-title, .swal-text, .swal-button {
    font-family: 'Poppins', sans-serif;
}
label {
    color: #797c81;
}
textarea {
    font-family: 'Poppins', sans-serif;
    color: #122042;
    width: 450px;
    height: 250px;
    padding: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
}
.container {
    width: 80%;
    margin: auto;
}
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.text-center {
    text-align: center;
}
.text-container {
    margin-bottom: 2rem;
}
.text-container label {
    display: block;
}

#cipher-btn {
    font-size: 1rem;
    color: white;
    margin: 2rem 0;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(90deg,#6D6027, #c2a35c);
}
#seed-cipher {
    width: 50px;
    border-radius: 4px;
    border: none;
    text-align: center;
}
@media (max-width: 768px) {
    .flex {
       justify-content: center;
    }
}
@media(max-width: 520px) {
    textarea {
        width: 300px;
        height: 200px;
    }
}