@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&family=Poppins&display=swap');
body {
    padding: 0;
}
h1 {
    font-size: 3rem;
}
h1, label {
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
}
textarea {
    font-family: 'Poppins', sans-serif;
    min-width: 350px;
    min-height: 200px;
    margin: 1rem 2rem;
    padding: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
}
.container {
    width: 80%;
    margin: auto;
}
.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.text-container label {
    display: block;
}
#root-cipher {
    border: none;
    width: 2rem;
}
#cipher-btn {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(90deg,#6D6027, #c2a35c);
}
.center {
    text-align: center;
}